{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_media = current_variant.featured_media | default: product.featured_image %}
<div class="row">
	{% if featured_media != null %}
		<div class="col-lg-3">
			<div class="lwt-gallery active" data-media-id="{{ featured_media.id }}">
				<img
					src="{{ featured_media.preview_image.src | image_url: width: 200 }}"
					width="500"
					height="auto"
					alt="{{ featured_media.preview_image.alt }}"
					class="w-100"
				>
			</div>
		</div>
	{% endif %}
	{% for media in product.media %}
		{% unless media.id == featured_media.id %}
			<div class="col-lg-3">
				<div
					class="lwt-gallery{% if featured_media == nil and forloop.index == 1 %} active{% endif %}"
					data-media-id="{{ media.id }}"
				>
					<img
						src="{{ media.preview_image.src | image_url: width: 200 }}"
						width="500"
						height="auto"
						alt="{{ media.preview_image.alt }}"
						class="w-100"
					>
				</div>
			</div>
		{% endunless %}
	{% endfor %}
</div>
