<section class="container-fluid">
	<div class="row">
		{%- assign block_count = section.blocks.size -%}
		{%- if block_count > 0 -%}
			{%- assign col_width = 12 | divided_by: block_count -%}
		{% else %}
			{%- assign col_width = 12 -%}
		{%- endif -%}

		{% for block in section.blocks %}
			{%- case block.type -%}
				{%- when 'info' -%}
					<div class="col-lg-{{ col_width }}" {{ block.shopify_attributes }}>
						<div class="footer-widget">
							<h4>{{ block.settings.title }}</h4>
							<div>
								{{ block.settings.content }}
							</div>
						</div>
					</div>

				{%- when 'link' -%}
					<div class="col-lg-{{ col_width }}" {{ block.shopify_attributes }}>
						<div class="footer-widget">
							<h4>{{ block.settings.title }}</h4>
							<ul class="footer-links">
								{% if block.settings.menu != blank %}
									{% assign menu = menus[block.settings.menu] %}
									{% for link in menu.links %}
										<li>
											<a href="{{ link.url }}">
												{{ link.title }}
											</a>
										</li>
									{% endfor %}
								{% else %}
									<p>Please select a menu in the block settings.</p>
								{% endif %}
							</ul>
						</div>
					</div>

				{%- when 'link' -%}
					<div class="col-lg-{{ col_width }}" {{ block.shopify_attributes }}>
						<div class="footer-widget">
							<h4>{{ block.settings.title }}</h4>
							<ul>
								{% for link in block.settings.menu.links %}
									<li>
										<a href="{{ link.url }}">{{ link.title }}</a>
									</li>
								{% endfor %}
							</ul>
						</div>
					</div>

				{%- when 'social_link' -%}
					<div class="col-lg-{{ col_width }}" {{ block.shopify_attributes }}>
						<div class="footer-widget">
							<h4>{{ block.settings.title }}</h4>
							<ul class="footer-icons">
								{% if block.settings.facebook_url != blank %}
									<li>
										<a href="{{ block.settings.facebook_url }}" target="_blank" rel="noopener">
											<i class="fab fa-facebook-f"></i>
										</a>
									</li>
								{% endif %}
								{% if block.settings.instagram_url != blank %}
									<li>
										<a href="{{ block.settings.instagram_url }}" target="_blank" rel="noopener">
											<i class="fab fa-instagram"></i>
										</a>
									</li>
								{% endif %}
								{% if block.settings.twitter_url != blank %}
									<li>
										<a href="{{ block.settings.twitter_url }}" target="_blank" rel="noopener">
											<i class="fab fa-twitter"></i>
										</a>
									</li>
								{% endif %}
							</ul>
						</div>
					</div>

				{%- else -%}
					please add blocks from theme editor
			{%- endcase -%}
		{% endfor %}
	</div>
</section>

{% schema %}
{
	"name": "Footer",
	"class": "rahat-footer",
	"settings": [],
	"blocks": [
		{
			"type": "info",
			"name": "Company Info",
			"limit": 1,
			"settings": [
				{
					"type": "text",
					"id": "title",
					"label": "Title",
					"default": "Company Info"
				},
				{
					"type": "richtext",
					"id": "content",
					"label": "Content",
					"default": "<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed eos atque distinctio magnam dolore!</p>"
				}
			]
		},
		{
			"type": "link",
			"name": "Important links",
			"limit": 3,
			"settings": [
				{
					"type": "text",
					"id": "title",
					"label": "Title",
					"default": "Important links"
				},
				{
					"type": "link_list",
					"id": "menu",
					"label": "Menu"
				}
			]
		},
		{
			"type": "social_link",
			"name": "Social Links",
			"limit": 1,
			"settings": [
				{
					"type": "text",
					"id": "title",
					"label": "Title",
					"default": "Follow us"
				},
				{
					"type": "url",
					"id": "facebook_url",
					"label": "Facebook URL"
				},
				{
					"type": "url",
					"id": "instagram_url",
					"label": "Instagram URL"
				},
				{
					"type": "url",
					"id": "twitter_url",
					"label": "Twitter URL"
				}
			]
		}
	],
	"default": {
		"blocks": [
			{ "type": "info", "settings": { "title": "Company info" } },
			{
				"type": "link",
				"settings": {
					"title": "Useful links"
				}
			},
			{
				"type": "social_link",
				"settings": {
					"title": "Follow us"
				}
			}
		]
	}
}
{% endschema %}
