<section class="container-fluid">
	<div class="row">
		{%- assign block_count = section.blocks.size -%}
		{%- if block_count > 0 -%}
			{%- assign col_width = 12 | divided_by: block_count -%}
		{% else %}
			{%- assign col_width = 12 -%}
		{%- endif -%}
		{% for block in section.blocks %}
			{%- case block.type -%}
				{%- when 'info' -%}
					{% comment %} col_width  = 12 / column_number {% endcomment %}
					<div class="col-lg-{{ col_width }}" {{ block.shopify_attributes }}>
						<div class="footer-widget">
							<h4>{{ block.settings.title }}</h4>
							<div>
								{{ block.settings.content }}
							</div>
						</div>
					</div>
				{%- when 'link' -%}
					<div class="col-lg-{{ col_width }}" {{ block.shopify_attributes }}>
						<div class="footer-widget">
							<h4>{{ block.settings.title }}</h4>
							<ul>
								{% for link in block.settings.menu.links %}
									<li>
										<a href="{{ link.url }}">{{ link.title }}</a>
									</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				{%- else -%}
					please add blocks from theme editor
			{%- endcase -%}
		{% endfor %}
	</div>
</section>
{% schema %}
{
	"name": "Footer",
	"class": "lwt-footer",
	"settings": [],
	"blocks": [
		{
			"type": "info",
			"name": "Company Info",
			"limit": 1,
			"settings": [
				{
					"type": "text",
					"id": "title",
					"label": "Title",
					"default": "Compny Info"
				},
				{
					"type": "richtext",
					"id": "content",
					"label": "Content",
					"default": "<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed eos atque distinctio magnam dolore!Modi sapiente pariatur mollitia dignissimos molestiae.</p>"
				}
			]
		},
		{
			"type": "link",
			"name": "Important link",
			"limit": 3,
			"settings": [
				{
					"type": "text",
					"id": "title",
					"label": "Title",
					"default": "Important link"
				},
				{
					"type": "link_list",
					"id": "menu",
					"label": "Menu"
				}
			]
		}
	],
	"default": {
		"blocks": [
			{
				"type": "info",
				"settings": {
					"title": "Company info"
				}
			},
			{
				"type": "link",
				"settings": {
					"title": "Important link"
				}
			}
		]
	}
}
{% endschema %}
