<nav class="navbar navbar-expand-lg bg-info text-white justify-content-center">
	<div class="container-fluid">
		<a class="navbar-brand w-50 mr-auto" href="{{ routes.root_url }}">
			{% if settings.logo != blank %}
				<img src="{{ settings.logo | image_url }}" alt="{{ shop.name }}" width="auto" height="auto">
			{% else %}
				{{ shop.name }}
			{% endif %}
		</a>
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarNav"
			aria-controls="navbarNav"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse w-100 justify-content-center" id="navbarNav">
			<ul class="navbar-nav w-100 justify-content-center">
				{% comment %} {% for link in linklists['header-menu'].links %} {% endcomment %}
				{% for link in section.settings.menu.links %}
					<li class="{% if link.links != blank %}dropdown{% endif %}">
						{% if link.links != blank %}
							<a
								class="nav-link dropdown-toggle"
								href="{{ link.url }}"
								data-bs-toggle="dropdown"
								data-bs-auto-close="outside"
								aria-expanded="false"
							>
								{{- link.title -}}
							</a>
							<ul class="dropdown-menu">
								{% for childlink in link.links %}
									<li class="{% if childlink.links != blank %}dropend{% endif %}">
										{% if childlink.links == blank %}
											<a class="dropdown-item" href="{{ childlink.url }}">
												{{- childlink.title -}}
											</a>
										{% else %}
											<a
												class="nav-link dropdown-toggle"
												href="{{ childlink.url }}"
												data-bs-toggle="dropdown"
												data-bs-auto-close="outside"
												aria-expanded="false"
											>
												{{- childlink.title -}}
											</a>
											<ul class="dropdown-menu">
												{% for grandchildlink in childlink.links %}
													<li>
														<a class="dropdown-item" href="{{ grandchildlink.url }}">
															{{- grandchildlink.title -}}
														</a>
													</li>
												{% endfor %}
											</ul>
										{% endif %}
									</li>
								{% endfor %}
							</ul>
						{% else %}
							<a class="nav-link {% if link.active %}active{% endif %}" href="{{ link.url }}">
								{{- link.title -}}
							</a>
						{% endif %}
					</li>
				{% else %}
					Please select menu from theme editor
				{% endfor %}
			</ul>
			<ul class="navbar-nav w-100 justify-content-end">
				<li class="nav-item">
					<a
						class="nav-link"
						href="{% if customer %}{{ routes.account_url }}{% else %}{{ routes.account_login_url }}{% endif %}"
					>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							width="16"
							height="16"
							fill="currentColor"
							class="bi bi-person"
							viewBox="0 0 16 16"
						>
							<path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
						</svg>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ routes.cart_url }}">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							width="16"
							height="16"
							fill="currentColor"
							class="bi bi-cart2"
							viewBox="0 0 16 16"
						>
							<path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l1.25 5h8.22l1.25-5zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0"/>
						</svg>
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

{% schema %}
{
	"name": "Header",
	"class": "rahat-header",
	"settings": [
		{
			"type": "link_list",
			"id": "menu",
			"label": "Menu"
		}
	]
}
{% endschema %}
<nav class="main-navbar">
	<ul class="nav-menu">
		<li><a href="{{ routes.root_url }}">Home</a></li>
		<li><a href="{{ routes.collections_url }}">Collection</a></li>
		<li><a href="/pages/about-us">About Us</a></li>
	</ul>
</nav>

<style>
	.main-navbar {
		background-color: #fff;
		padding: 15px 30px;
		border-bottom: 1px solid #eee;
	}

	.nav-menu {
		list-style: none;
		display: flex;
		gap: 30px;
		margin: 0;
		padding: 0;
	}

	.nav-menu li a {
		text-decoration: none;
		color: #333;
		font-weight: 600;
		transition: color 0.3s ease;
	}

	.nav-menu li a:hover {
		color: #007acc;
	}
</style>
