{% style %}
	.lwt-collection-section {
		padding: 80px 0;
	}
{% endstyle %}
<section class="lwt-collection-section">
	<div class="container">
		<div class="row">
			{% for collection in collections %}
				{% if collection.products.size > 0 %}
					<div class="col-lg-3">
						<div class="card">
							{% if collection.image %}
								<img
									src="{{ collection.image.src | image_url: width: 300 }}"
									class="card-img-top"
									alt="{{ collection.image.alt }}"
								>
							{% else %}
								{{ 'collection-1' | placeholder_svg_tag }}
							{% endif %}

							<div class="card-body">
								<h5 class="card-title">{{ collection.title }}</h5>
								<a href="{{ collection.url }}" class="btn btn-primary">See more</a>
							</div>
						</div>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
</section>
{% schema %}
{
	"name": "Collections list",
	"class": "lwt-collection",
	"settings": [],
	"presets": [
		{
			"name": "Collections list"
		}
	]
}
{% endschema %}
