{% style %}
	.main-product {
		padding: 100px 0;
	}
	.selector-wrapper label {
		display: block;
		font-weight: 700;
		margin-bottom: 10px;
	}
	.lwt-thumbnail:not(.active) {
		display: none;
	}
	.lwt-gallery.active {
		border: 1px solid #ccc;
	}
{% endstyle %}
{% assign current_variant = product.selected_or_first_available_variant %}
<section class="main-product">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="product-left">
					{% comment %} Thumbnail {% endcomment %}
					{% render 'product-thumbnail-viewer', product: product %}
					{% comment %} Gallery {% endcomment %}
					<div class="lwt-gallery-viewer">
						{% render 'product-gallery-viewer', product: product %}
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="prodcut-right">
					<h3>{{ product.title }}</h3>
					<div id="varint-price">
						<span>{{ current_variant.price | money }}</span>
						<s>
							<span>
								{%- if current_variant.compare_at_price > current_variant.price -%}
									{{- current_variant.compare_at_price -}}
								{%- endif -%}
							</span>
						</s>
					</div>
					<p>{{ product.description }}</p>
					<div class="product-from">
						{% form 'product', product %}
							{% comment %} <input type="hidden" name="id" value="{{ current_variant.id }}"> {% endcomment %}
							{% if product.has_only_default_variant %}
								<input type="hidden" name="id" value="{{ current_variant.id }}">
							{% else %}
								<select name="id" id="varint-select">
									{% for variant in product.variants %}
										<option value="{{ variant.id }}">
											{{ variant.title }} - {{ variant.price | money }}
										</option>
									{% endfor %}
								</select>
							{% endif %}

							<input
								type="number"
								name="quantity"
								id="quantity"
								min="1"
								max="{{ current_variant.inventory_quantity }}"
								value="1"
							>

							<input
								type="submit"
								value="Add to Cart"
								id="add-to-cart-btn"
								{% if current_variant.available == false %}
									disabled="disabled"
								{% endif %}
							>
							{{ form | payment_button }}
						{% endform %}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script>
	document.addEventListener('DOMContentLoaded', event => {
		const galleries = document.querySelectorAll('.lwt-gallery')
		galleries.forEach(gallery => {
			gallery.addEventListener('click', function () {
				const mediaId = this.getAttribute('data-media-id')
				{% comment %} active stste {% endcomment %}
	               galleries.forEach(g => g.classList.remove('active'))
	               this.classList.add('active')

	                  const thumbnails = document.querySelectorAll('.lwt-thumbnail')
	                  thumbnails.forEach(thumbnail => {
	                      thumbnail.classList.remove('active');
	                      if(thumbnail.getAttribute('data-media-target') === mediaId ){
	                          thumbnail.classList.add('active');
	                      }
	                  })
			})


		})


	})
</script>

{% schema %}
{
	"name": "Main Product",
	"class": "lwt-product",
	"settings": [],
	"presets": [
		{
			"name": "Main Product"
		}
	]
}
{% endschema %}
